.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container .div {
  margin-top: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(
    180deg,
    rgb(68, 68, 68) 0%,
    rgb(85, 85, 85) 25.5%,
    rgb(102, 102, 102) 53.5%,
    rgb(136, 136, 136) 78.5%,
    rgb(153, 153, 153) 100%
  );
  overflow-x: hidden;
  width: 362px;
  height: 234px;
  position: relative;
}

.container .text-wrapper {
  top: 6px;
  left: 113px;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  direction: rtl;
}

.container .overlap-group {
  position: absolute;
  width: 146px;
  height: 40px;
  top: 170px;
  left: 108px;
  border-radius: 36px 0px 35px 13px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgb(115, 115, 115) 100%);
  cursor: pointer;
}

.container .text-wrapper-2 {
  top: 9px;
  left: 60px;
  font-size: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  direction: rtl;
}

.container .textarea {
  position: absolute;
  width: 272px;
  height: 31px;
  top: 90px;
  left: 44px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgb(115, 115, 115) 100%);
}
